* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

/* Top Navigation Bar */
.topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    border-color: black;
    padding: 0 15px;
    gap: 10px;
    background-size: contain;
}

.topnavbar .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* background-color: red; */
    padding-top: 1px;
    gap: 5px;
    margin: 10px 0px;
}

.topnavbar .logo img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #444;
    box-sizing: 5px 7px 15px rgba(0, 0, 0, 0.2);
    background-color: blue;
}
.topnavbar h3 {
    color: white;
    position: relative;
}

.topnavbar .time-and-day {
    color: #fff;
    font-size: 7px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 7px 7px;
    margin: 0 10px;
    transition: 0.5s;
    align-self: center;
}

.topnavbar .day {
    margin-left: 4px;
}

.menubar {
    height: 30vh;
    width: 50%;
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 20%;
    background-color: blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-right: 100px;
}

.menubar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menubar a:hover {
    background-color: #575757;
}

.menubar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 50px;
}

.main {
    transition: margin-left 0.5s;
}

/* #menuselect{
    cursor: pointer;
    color: grey;
    font-size: 10px;
    border: 1px solid goldenrod;
    border-radius: 9px;
    padding: 10px 10px;
    margin: 0px 10px;
    transition: 0.5s;
    background-color: #111;
}

#menuselect:hover { 
    background-color: goldenrod;
    color: #111;
}
#menuselect::after{
    background-color: #111;
    border: goldenrod;
}

#menu {
    margin-top: 50px;
    display: none;
    text-align: left;
    /* z-index: 9999; */
/* }

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
}

#menu ul li a:hover {
    text-decoration: underline;
}

#menu.show {
    display: block;
} */

.menubar .social-links img:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.social-links {
    margin: 0 5px;
    display: flex;
    gap: 5px;
    padding-left: 7.5px;
    /* align-items: center; */
    /* position: relative; */
}

/**** Main Nav Bar And Side Bar****/

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(/images/background.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #444;
    box-sizing: 5px 7px 15px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    margin: 15px 0;
    color: #fff;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin: 7px 0;
}

.sidebar ul li a {
    color: #fff;
    transition: 0.5s;
    position: relative;
}

.sidebar .nav a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: goldenrod;
    transition: 0.5s;
}

.sidebar .nav a:hover:after {
    width: 100%
}

.sidebar .social-icon1:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.sidebar .social-icon2:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.sidebar .social-icon3:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}


/***** Hero Content *****/

.sub-hero-content1 {
    background-color: red;
    top: 0;
    margin-top: 20%;
    margin-left: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    min-width: 250px;
    padding: 10px;
    /* margin-right:10vw; */
}

/* .sub-hero-content1 {
    background-color: red;
    top: 0;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin-right: 100%;
} */

/* top: 0;
    margin-top: 20%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 150%;
    margin: 25% 25% 25% 25%;
    max-width: 700px;
    min-height: 100vh;
    gap: 70px;
    position: relative;
    box-sizing: border-box;
    background-color: red;
    padding: 20px;
*/
    
/* .sub-hero-content2 {
    background-color: blue;
} */
.hero-content h4 {
    font-size: 24px;
    font-weight: 400;
}

.hero-content h1 {
    font-size: 50px;
    padding: 28px;
}

.hero-content .connect {
    color: #fff;
    border: 2px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}

.hero-content .connect:hover {
    color: #222;
    background-color: goldenrod;
    transition: 0.2s;
}

.hero-content .hero-name {
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
}
/**** Responsive  ****/
@media (max-width: 700px) {
    /* body{
    width: auto;
    } */

    .topnavbar {
    width: 100%;
    display: flex;
    }

    .logo img {
        border-radius: 20px;
    }
    .topnavbar .logo h3 {
    font-size: smaller;
    margin-top: 5px;
    align-self: center;
    }

    .header{
    min-height: 900px;
    background-position: center;
    /* background-size: cover; */
    }
    .sidebar {
    display: none;
    }
    .sub-hero-content1{
        font-size: smaller;
    /* font-size: calc(16px + 1vw); */
    margin: 10% 10%;
    }
    /* .hero-content {
    width: 50px 50px;
    position: relative;
    }

    .sub-hero-content1 {
    align-items: center;
    width: auto;
    }

    .hero-content .sub-hero-content1 h1{
    position: relative;
    align-items: center;
    } */
}
/* 
@media (max-width:200) {
    body{
        width: fit-content;
    }
} */

@media(min-width:700px) {
    .navbar {
        display: none;
    }

    .topnavbar {
        display: none;
    }

    .hero-name{
    position: relative;
    }
}