* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

/****** Top Navigation Bar ******/

.topnavbar {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    border-color: black;
    padding: 0 15px;
    gap: 10px;
    z-index: 100;
    background-size: contain;
    display: flex
}

.topnavbar .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 1px;
    gap: 5px;
    margin: 10px 0px;
}

.topnavbar .logo img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #444;
    box-sizing: 5px 7px 15px rgba(0, 0, 0, 0.2);
}
.topnavbar h3 {
    color: white;
    position: relative;
}

.topnavbar .time-and-day {
    color: #fff;
    font-size: 7px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 7px 7px;
    margin: 0 10px;
    transition: 0.5s;
    align-self: center;
    position: fixed;
    margin-left: 40%;
}

.topnavbar .day {
    margin-left: 0px;
}

.hidden-menu-bar{
    display: none;
}

.menubar {
    height: 40vh;
    width: 50%;
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 0%;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menubar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor:pointer;
}

.menubar a:hover {
    background-color: #575757;
}

.menubar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 50px;
}

.menubar .social-links img:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.social-links {
    margin: 10px 5px;
    display: flex;
    gap: 5px;
    padding-left: 7.5px;
}

/**** Main Nav Bar And Side Bar ****/

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(/images/background.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #444;
    box-sizing: 5px 7px 15px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    margin: 15px 0;
    color: #fff;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin: 7px 0;
}

.sidebar ul li a {
    color: #fff;
    transition: 0.5s;
    position: relative;
}

.sidebar .nav a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: goldenrod;
    transition: 0.5s;
}

.sidebar .nav a:hover:after {
    width: 100%
}

.sidebar .time-and-day {
    color: #fff;
    font-size: 10px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 7px 7px;
    margin: 0 10px;
    transition: 0.5s;
    align-self: center;
    position: relative;
}

.sidebar .day {
    margin-left: 0px;
}

.sidebar .social-icon1:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.sidebar .social-icon2:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}

.sidebar .social-icon3:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: goldenrod;
    transition: 0.5s;
    transform: rotate(360deg);
}


/***** Hero Content *****/

.sub-hero-content1 {
    top: 0;
    margin-top: 20%;
    margin-left: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    min-width: 250px;
    padding: 10px;
}

.hero-content h4 {
    font-size: 24px;
    font-weight: 400;
}

.hero-content h1 {
    font-size: 50px;
    padding: 28px;
}

.sub-hero-content1 .hero-intro {
    margin-left: 110px;
}

.hero-content .connect {
    color: #fff;
    background-color: transparent;
    border: 2px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}

.hero-content .connect:hover {
    color: #222;
    background-color: goldenrod;
    transition: 0.2s;
    cursor: pointer;
}

.hero-content .hero-name {
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
}


/************* USEFUL LINKS ***********/

.useful-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.useful-links a {
    color: goldenrod
}

.useful-links a:hover {
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.useful-links h2{
    color: gray;
}


/*************** MODAL ************/

.modal-container{
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    padding: 20px;
    z-index: 2;
    top: 0;
    height: 100vh;
}

.hidden {
    display: none;
}

.delete {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 20px;
    padding-top: 10px;
}

.modal-wrapper{
    padding: 30px;
    background-color: white;
    height: 600px;
    overflow-y: scroll;
    border-radius: 10px;
}

.pre-wrapper{
    background-color: white;
    width: 800px;
    border-radius: 20px;
}

.modal-wrapper header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.goals {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.foot{
    height: 16px;
}

.delete .del-x:hover{
    cursor: pointer;
    color: goldenrod;

}

.goals h1, h2 {
    color: #333;
}

.goals ul {
    list-style-type: none;
    padding: 0;
}

.goals ul li {
    background: #e4e4e4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

.goals footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/**** Responsive  ****/

@media (max-width: 700px) {

    .topnavbar {
        width: 100%;
        display: flex;
    }

    .logo {
        width: 160px;
    }

    .logo img {
        border-radius: 20px;
    }

    .topnavbar .logo h3 {
        font-size: smaller;
        margin-top: 5px;
        align-self: center;
    }

    .header{
        min-height: 900px;
        background-position: center;
    }

    .sidebar {
        display: none;
    }

    .sub-hero-content1{
        font-size: smaller;
        margin: 30% 10%;
    }

    .sub-hero-content1 .hero-intro{
        margin-left: 90px;
    }

    .sub-hero-content1 .hero-name{
        font-size: 50px;
    }

    .pre-wrapper{
        width: 300px;
        height: 500px;
        margin-top: 30%;
    }

    .modal-wrapper{
        height: 500px;
        overflow-y: scroll;
    }
}

@media(min-width:700px) {

    .navbar {
        display: none;
    }

    .topnavbar {
        display: none;
    }

    .hero-name{
        position: relative;
    }

    .pre-wrapper{
        width: 700px;
    }

    .modal-wrapper{
        overflow-y: scroll;
    }   
}

@media (width: 1024px){
    
    .sub-hero-content1{
        width: 500px;
        margin-left: 100px;
        margin-top: 200px;
    }

    .sub-hero-content1 h1{
        font-size: 30px;
    }
}
@media (min-width: 1040px) {
    .sub-hero-content1 .hero-intro{
        margin-left: 190px;
    }    
}